.center{
     text-align: center 
}
IMG.img_mid {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
img#logo{
    border-radius :50%;
    padding:50px;
  }
#present{
    font-size: 125px;
    text-shadow: rgba(0, 251, 251, 0.418) 0px 0px 15px;
}
#egg{
    display: none;
}
#tryhackme{
    height: 0px;
    margin-top:500px;
}
#git{
    margin-left: 80%;
}
