body {
    background-color: #101521;
}

h1{
    font-family:Impact, sans-serif ;
    font-weight: lighter
}
p{
    font-family:Verdana, sans-serif;
    font-weight: 800;
    
    
}
.center{
     text-align: center 
}
IMG.img_mid {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
img#logo{
    border-radius :50%;
    padding:50px;
  }
#advisor{
      border-style: solid;
      border-color: rgb(224, 165, 14);
      border-width: 1px;
      width: 200px;
      margin:0 auto;
  }
    
